@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div class="row">
    <div class="col-md-4">Distribution Records</div>
    <div class="col-md-2">0</div>
    <div class="col-md-6"></div>
</div>

<div class="row">
    <div class="col-md-4">Billing Records</div>
    <div class="col-md-2">0</div>
    <div class="col-md-6"></div>
</div>

<div class="row">
    <div class="col-md-4">Invoices</div>
    <div class="col-md-2">0</div>
    <div class="col-md-6"></div>
</div>

<div class="row">
    <div class="col-md-4">Journal Entries</div>
    <div class="col-md-2">0</div>
    <div class="col-md-6"></div>
</div>