@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div class="row">
    <div class="col-sm-3">Distribution Records</div>
    <div class="col-sm-1"><span class="badge" id="number-dr">0</span></div>
    <div class="col-sm-6"><span class="label label-success" id="message-dr"></span></div>
</div>

<div class="row">
    <div class="col-sm-3">Billing Records</div>
    <div class="col-sm-1"><span class="badge" id="number-br">0</span></div>
    <div class="col-sm-6"><span class="label label-primary" id="message-br"></span></div>
</div>

<div class="row">
    <div class="col-sm-3">Invoices</div>
    <div class="col-sm-1"><span class="badge" id="number-invoice">0</span></div>
    <div class="col-sm-6"><span class="label label-info" id="message-invoice"></span></div>
</div>

<div class="row">
    <div class="col-sm-3">Journal Entries</div>
    <div class="col-sm-1"><span class="badge" id="number-je">0</span></div>
    <div class="col-sm-6"><span class="label label-warning" id="message-je"></span></div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            function received(type, message) {
                var num = $('#number-' + type)
                num.text(parseInt(num.text(), 10) + 1)
                var msg = $('#message-' + type), 
                    newMsg = $('<span class="label label-info">' + message + "</span>");
                msg.text(message);
                setTimeout(function () {
                    msg.fadeOut('slow', function () {
                        msg.text('');
                        msg.attr('style', '');
                    })
                }, 1000);
            }
            hubSubscriptions
                .on('distributionRecordCreated', function (newNumber) {
                    received('dr', 'Received new Distribution Record, #' + newNumber);
                })
                .on('billingRecordCreated', function (newNumber) {
                    received('br', 'Created new Billing Record, #' + newNumber);
                })
                .on('invoiceCreated', function (newNumber) {
                    received('invoice', 'Created new Invoice, #' + newNumber);
                })
                .on('journalEntryCreated', function (newNumber) {
                    received('je', 'Created new Journal Entry, #' + newNumber);
                });
        })
    </script>
}