@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET SignalR</h1>
    <p class="lead">
        ASP.NET SignalR is a new library for ASP.NET developers that makes it incredibly simple
        to add real-time web functionality to your applications.
        What is "real-time web" functionality?
        It's the ability to have your server-side code push content to the connected clients as it happens,
        in real-time.
    </p>
    <p><a href="http://signalr.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2><i class="glyphicon glyphicon-file"></i> Invoices!</h2>
        <p>
            This sample shows a simple notification service.
        </p>
        <p><a class="btn btn-default" href="~/Invoice">Begin &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><i class="glyphicon glyphicon-dashboard"></i> Dashboard</h2>
        <p>A dashboard showing the status of various objects in transit</p>
        <p><a class="btn btn-default" href="~/Dashboard">Show me &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><i class="glyphicon glyphicon-filter"></i> Finders-Keepers</h2>
        <p>Displays an notification when new search matches came after a search was performed.</p>
        <p><a class="btn btn-default" href="~/Search">Search &raquo;</a></p>
    </div>
</div>